/* Google Maps related style */
#map {
    height: 100%;
}

#pac-input {
    font-size: 13px;
    font-weight: 300;
    padding: 7px 16px 6px;
    text-overflow: ellipsis;
    width: 37%;
    margin-top: 10px;
    outline: 0;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    border-radius: 2px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.symptom-form {
    width: 40%;
    margin: 40px auto 0;
}
.symptom-form .form-group {
    margin-bottom: 10px;
}
.symptom-form label {
    font-size: 15px;
}
.symptom-form h3 {
    font-size: 30px;
    text-align: center;
}
.symptom-form .btn-center {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
}
.absolute-filter {
    position: absolute;
    right: 7px;
    top: 8px;
    z-index: 2;
}
.absolute-filter .btn {
    direction: ltr;
    overflow: hidden;
    text-align: center;
    position: relative;
    color: rgb(86, 86, 86);
    font-family: Roboto, Arial, sans-serif;
    -webkit-user-select: none;
    font-size: 13px;
    padding: 8px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    border-left-width: 0px;
    min-width: 39px;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
}
.absolute-filter .dropdown-menu {
    right: 0;
    left: auto;
}
.absolute-filter .small {
    outline: 0;
    font-size: 13px;
}

.mobile-app h3 {
    font-size: 30px;
    text-align: center;
}
.mobile-app {
    margin: 30px 0;        
    padding: 30px 0;
    background-color: rgba(77, 144, 254, 0.5);
    text-align: center;
}

.mobile-app img {
    width: 320px;
    height: auto;
}
